body {
  background-color: salmon;
  font-family: cursive;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: lightpink;
  width: 400px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.textarea {
  font-family: sans-serif;
  font-size: 18px;
  height: 100px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px darkgray;
  resize: none;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.total-counter {
  color: slateblue;
}

.remaining-counter {
  color: orangered;
}
